table {
    border-collapse: collapse;
    width: 25%;
  }

  th, td {
    text-align: center;
    padding: 5px;
  }

  th {
    background-color: #000000;
    color: #fff;
  }

  td {
    border: 1px solid #000000;
  }